.main-btn {
  position: fixed;
  border-radius: 50px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 4;
  box-sizing: border-box;
  @extend %transition--05_easy_in_out;
  &::-moz-focus-inner {
    border: 0;
  }
  // outer-shadow-inside circle
  &::after {
    content: '';
    position: absolute;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    transition: box-shadow 0.1s ease;
    z-index: 2;
  }
  // inner-shadow-outside circle
  &::before {
    content: '';
    position: absolute;
    box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.7);
    border-radius: 50px;
  }
  // clicking effect
  &:active::after {
    box-shadow: 0 0 2px 0px black;
  }
  &:active &__bar {
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.3);
  }
  &:hover &__bar {
    background: $cherry;
  }
  &__sandwitch {
    cursor: pointer;
    position: absolute;
    z-index: 3;
  }
  &__bar {
    background-color: $white;
    border-radius: 50px;
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.3);
    @extend %transition--05_easy_in_out;
    margin: 0 0 2px 0;
  }
  &__bar:last-child {
    margin-bottom: 0px;
  }
  // Animation for menu
  /* Rotate first bar */
  .change &__bar1 {
    transform: rotate(-45deg) translate(-2.5vw, 2.5vw);
    box-shadow: none;
    margin: 0;
  }
  /* Fade out the second bar */
  .change &__bar2 {
    opacity: 0;
    margin: 0;
  }
  /* Rotate last bar */
  .change &__bar3 {
    transform: rotate(45deg) translate(-1vw, -1vw);
    box-shadow: none;
    margin: 0;
  }
  &__sandwitch--grey {
    .main-btn__bar1,
    .main-btn__bar2,
    .main-btn__bar3 {
      background-color: $grey;
    }
  }
  &--absolute {
    position: absolute;
  }
}

@media (max-width: $mobile-only) {
  .main-btn {
    width: 100%;
    height: 20vw;
    border: 6px solid #8b8b8b;
    border-radius: 0;
    &::after {
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
    &::before {
      left: -6px;
      top: -6px;
      width: calc(100% + 16px);
      height: 20vw;
      border-radius: 0;
    }
    &:hover {
      border: 6px solid $cherry;
    }
    &__sandwitch {
      top: calc(50% - 4vw);
      left: calc(50% - 5vw);
    }
    &__bar {
      width: 10vw;
      height: 2.5vw;
      margin: 0 0 0.6vw 0;
    }
  }
}

.btn-halfround {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: $cherry;
  width: 50%;
  box-sizing: border-box;
  @extend %myriad--black;
  z-index: 1;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: border 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    position: relative;
    z-index: 2;
    @extend %transition--05_easy_in_out;
  }
  &::after {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    background: $cherry;
    @extend %transition--05_easy_in_out;
  }
  &:hover:after,
  &:focus:after {
    transform: translateX(-10%) translateY(-25%) rotate(45deg);
  }
  &:hover span,
  &:focus span {
    color: $white;
  }
  &:hover,
  &:focus {
    border: 0.3vw solid $cherry;
    transition: border 0.3s ease;
  }
}

@media (max-width: $mobile-only) {
  .btn-halfround {
    font-size: 4vw;
    height: 10vw;
    box-shadow: 0 2px 4px 0 $black;
    border-radius: 0 50px 50px 0;
    &::after {
      transform: translateX(-260px) translateY(-40px) rotate(45deg);
      height: 300px;
      width: 300px;
    }
  }
}