@media (min-width: $desktop) {
  .main-btn {
    top: 50px;
  }
}

@media (min-width: $desktop) and (max-width: $desktop-only) {
  .btn-halfround {
    font-size: 25px;
    line-height: 25px;
    width: 30%;
    height: 50px;
    &::after {
      transform: translateX(-880px) translateY(-160px) rotate(45deg);
      height: 1000px;
      width: 1000px;
    }
  }
}
