.contact-page {
  background: #F4F3F1;
  &__boy-img {
    display: block;
    color: black;
  }
  &__slogan {
    @extend %myriad--black;
    color: #616160;
    letter-spacing: -0.03em;
    margin: 20px 0 50px;
  }
  & input,
  & textarea {
    width: 100%;
    font-size: 20px;
    @extend %myriad--black;
    color: #616160;
    &::-webkit-input-placeholder {
      color: #999896;
    }
    &::-moz-placeholder {
      color: #999896;
    }
    border: none;
    background: transparent;
  }
  & span {
    width: 100%;
    height: 1px;
    background: #c9c7c6;
    display: block;
    margin-bottom: 50px;
  }
  & span:last-of-type {
    margin-bottom: 30px;
  }
  &__btn {
    width: 50%;
    @extend %myriad--black;
    font-size: 26px;
    background: $cherry;
    border: none;
    height: 40px;
    color: $white;
    border-radius: 0 10px 10px 0;
    margin-bottom: 30px;
    @extend %transition--05_easy_in_out;
    cursor: pointer;
  }
  &__btn:focus,
  &__btn:active {
    opacity: 0.5;
    outline: none;
  }
  &__btn::-moz-focus-inner {
    border: 0;
  }
}

@media (max-width: $mobile-width-only) {
  .contact-page {
    &__boy-img {
      padding-top: 100px;
      margin: 0 auto 20px;
    }
    &__slogan {
      font-size: 40px;
    }
  }
}

@media (min-width: $tablet-width) {
  .contact-page {
    .container {
      display: flex;
      padding-top: 150px;
      padding-bottom: 100px;
      justify-content: space-between;
    }
    &__boy-img {
      padding: 0;
    }
    &__slogan {
      font-size: 50px;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .contact-page {
    &__boy-img {
      width: 355px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contact-page {
    .contact-form {
      width: 40%;
      padding-top: 30px;
    }
    &__boy-img {
      width: 40%;
    }
    & input,
    & textarea {
      font-size: 26px;
    }
  }
}
