.contact-page {
  background: #f4f3f1;
  padding-bottom: 30px;
  &__boy-img {
    display: block;
    color: $black;
  }
  &__slogan {
    @extend %myriad--black;
    color: #616160;
    letter-spacing: -0.03em;
    margin: 2vh 0 8vh;
  }
  & input,
  & textarea {
    width: 100%;
    font-size: 3.5vh;
    @extend %myriad--black;
    color: #616160;
    &::-webkit-input-placeholder {
      color: #999896;
    }
    &::-moz-placeholder {
      color: #999896;
    }
    border: none;
    background: transparent;
  }
  & span {
    width: 100%;
    height: 1px;
    background: #c9c7c6;
    display: block;
    margin-bottom: 50px;
  }
  & span:last-of-type {
    margin-bottom: 30px;
  }
  &__btn {
    width: 50%;
    @extend %myriad--black;
    font-size: 26px;
    @extend %transition--05_easy_in_out;
    cursor: pointer;
    & span {
      height: 0;
    }
  }
  &__btn:focus,
  &__btn:active {
    opacity: 0.5;
    outline: none;
  }
  &__btn::-moz-focus-inner {
    border: 0;
  }
}

@media (max-width: $mobile-only) {
  .contact-page {
    &__boy-img {
      padding-top: 12vh;
      margin: 0 auto 2vh;
    }
    &__slogan {
      font-size: 5vh;
    }
  }
}

@media (min-width: $tablet) {
  .contact-page {
    .container {
      display: flex;
      padding-top: 150px;
      padding-bottom: 100px;
      justify-content: space-between;
    }
    &__boy-img {
      padding: 0;
    }
    &__slogan {
      font-size: 50px;
    }
    .contact-form {
      padding-left: 40px;
    }
    &__btn {
      height: 50px;
      width: 75%;
    }
    & input,
    & textarea {
      font-size: 2vh;
    }
  }
}

@media (min-width: $tablet) and (max-width: $tablet-only) {
  .contact-page {
    &__boy-img {
      width: 355px;
    }
  }
}

@media (min-width: $desktop) {
  .contact-page {
    .contact-form {
      width: 40%;
      padding-top: 30px;
    }
    &__boy-img {
      width: 40%;
    }
    & input,
    & textarea {
      font-size: 26px;
    }
  }
}

@media (min-width: $desktop2k) {
  .contact-page {
    &__slogan {
      font-size: 5vw;
    }
    & input,
    & textarea {
      font-size: 3.5vh;
      margin-bottom: 2.5vh;
    }
    &__btn {
      height: 6vh;
      font-size: 4vh;
      align-items: baseline;
    }
  }
}
