.contact-page {
  background: #f4f3f1;
  padding-bottom: 30px;
  &__boy-img {
    display: block;
    color: $black;
  }
  &__slogan {
    @extend %myriad--black;
    color: #616160;
    letter-spacing: -0.03em;
    margin: 2vh 0 2vh;
  }
  &__btn {
    width: 50%;
    @extend %myriad--black;
    @extend %transition--05_easy_in_out;
    cursor: pointer;
  }
  &__btn:focus,
  &__btn:active {
    opacity: 0.5;
    outline: none;
  }
  &__btn::-moz-focus-inner {
    border: 0;
  }
  .input-box {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 2vh;
    height: 7vh;
    @extend %myriad--regular;
    color: #616160;
    font-size: 3vh;
    letter-spacing: -0.2vh;
    overflow: hidden;
    &__input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      @extend %myriad--regular;
      color: inherit;
      background: transparent;
      font-size: 2.5vh;
      padding-top: 3vh;
      border: none;
      &:hover + .input-box__label-name .input-box__content-name,
      &:focus + .input-box__label-name .input-box__content-name,
      &:valid + .input-box__label-name .input-box__content-name {
        transform: translateY(-4vh);
        color: $cherry;
        font-size: 2vh;
      }
      &:hover + .input-box__label-name::after,
      &:focus + .input-box__label-name::after,
      &:valid + .input-box__label-name::after {
        transform: translateX(0);
      }
    }
    &__label-name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #616160;
      &::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: '';
        border-bottom: 3px solid $cherry;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        @extend %transition--05_easy_in_out;
      }
    }
    &__content-name {
      position: absolute;
      bottom: 0;
      left: 0;
      @extend %transition--05_easy_in_out;
    }
    &--textarea {
      height: 20vh;
      .input-box__input {
        &:hover + .input-box__label-name .input-box__content-name,
        &:focus + .input-box__label-name .input-box__content-name,
        &:valid + .input-box__label-name .input-box__content-name {
          transform: translateY(-18vh);
          color: $cherry;
          font-size: 2vh;
        }
      }
    }
  }
}

@media (max-width: $mobile-only) {
  .contact-page {
    &__boy-img {
      padding-top: 12vh;
      margin: 0 auto 2vh;
    }
    &__slogan {
      font-size: 5vh;
    }
  }
}

@media (min-width: $tablet) {
  .contact-page {
    .container {
      display: flex;
      padding-top: 150px;
      padding-bottom: 100px;
      justify-content: space-between;
    }
    &__boy-img {
      padding: 0;
    }
    &__slogan {
      font-size: 50px;
    }
    .contact-form {
      padding-left: 40px;
    }
    &__btn {
      height: 50px;
      width: 75%;
    }
  }
}

@media (min-width: $tablet) and (max-width: $tablet-only) {
  .contact-page {
    &__boy-img {
      width: 355px;
    }
  }
}

@media (min-width: $desktop) {
  .contact-page {
    .contact-form {
      width: 40%;
      padding-top: 30px;
    }
    &__boy-img {
      width: 20%;
      margin: auto;
    }
  }
}

@media (min-width: $desktop2k) {
  .contact-page {
    &__slogan {
      font-size: 5vw;
    }
    & input,
    & textarea {
      font-size: 3.5vh;
      margin-bottom: 2.5vh;
    }
    &__btn {
      height: 6vh;
      font-size: 4vh;
      align-items: baseline;
    }
  }
}
