@media (max-width: $tablet-only) {
  .footer {
    &__slogan {
      font-size: 8vw;
      line-height: 8vw;
      margin: 0 0 3.25vw;
      padding-top: 8vw;
    }
    &-nav__item {
      font-size: 6vw;
      margin-bottom: 8vw;
    }
  }
}
