.footer {
  width: 100%;
  position: relative;
  background: $black;
  &__slogan {
    @include text_big_without-line;
    font-size: 28px;
    letter-spacing: -0.05em;
    color: $white;
    margin: 0 0 20px;
    padding-top: 50px;
    text-align: center;
    & span {
      color: $cherry;
    }
  }
  &__nav {
    display: flex;
    justify-content: space-around;
    &__item {
      @include myriad--black;
      color: $white;
      opacity: 0.5;
      font-size: 20px;
      text-decoration: none;
      margin-bottom: 50px;
      letter-spacing: -0.03em;
      margin-right: 5px;
    }
    &__item:last-child {
        margin-right: 0;
    }
  }
}
