.footer {
  position: relative;
  background: $black;
  &__slogan {
    @extend %myriad--black;
    position: relative;
    letter-spacing: -0.05em;
    text-align: center;
    color: $white;
    & span {
      color: $cherry;
    }
  }
  &-nav {
    display: flex;
    justify-content: space-around;
    &__item {
      @extend %myriad--black;
      text-decoration: none;
      letter-spacing: -0.03em;
      margin-right: 5vw;
      @extend %transition--05_easy_in_out;
      outline: 0;
    }
    &__item[href] {
      opacity: 0.5;
      color: $white;
    }
    &__item:last-child {
      margin-right: 0;
    }
    &__item[href]:hover,
    &__item[href]:focus {
      opacity: 1;
    }
    &__item:not([href]) {
      color: $cherry;
    }
  }
}