@media (min-width: $desktop) {
  .footer {
    min-height: 200px;
    height: 10vw;
    .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
    &__slogan {
      padding: 0;
      margin: 0;
      font-size: 3vw;
      line-height: 4vw;
    }
    &-nav__item {
      margin: 0.5vw 1vw 0 0;
      font-size: 2.5vw;
    }
  }
}
