
@media (min-width: $desktop2k) {
  .swiper {
    &__slide1__text2 {
      font-size: 1.5vw;
      line-height: 1.5vw;
    }
    &__slide3 {
      &__img {
        left: 58%;
      }
    }
    &__slide4 {
      &__img {
        top: 12vh;
        left: 32vw;
        height: 75vh;
      }
    }
  }
}

@media (min-width: $desktop2k) {
  .work {
    &__slogan {
      padding-top: 16vh;
    }
    &__item:hover::before,
    &__item:focus::before {
      border-width: 1vw;
    }
  }
}


@media (min-width: $desktop2k) {
  .contact-page {
    &__slogan {
      font-size: 5vw;
    }
    & input,
    & textarea {
      font-size: 3.5vh;
      margin-bottom: 2.5vh;
    }
    &__btn {
      height: 6vh;
      font-size: 4vh;
      align-items: baseline;
    }
  }
}
