.menu {
  background: #323435;
  width: 100%;
  height: 0%;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  top: 0;
  left: 0;
  @extend %transition--05_easy_in_out;
  .company-name {
    @extend %myriad--black;
    color: $white;
    line-height: 36px;
    color: $cherry;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    position: relative;
    margin-top: 0;
  }
  &__list {
    list-style: none;
    position: relative;
    height: auto;
    margin: 0;
  }
  &__item__link {
    color: $white;
    text-decoration: none;
    @extend %myriad--black;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    z-index: 1;
    outline: none;
    position: relative;
    &:after {
      content: '';
      width: 200vw;
      height: 65%;
      position: absolute;
      top: 50%;
      left: -100vw;
      transform: translateY(-45%) scaleY(0);
      z-index: -1;
      background: $cherry;
      transition: all 0.3s ease;
    }
  }
  &__item__link:focus::after {
    transform: translateY(-45%) scaleY(0.1);
  }
  &__item__link:hover::after {
    transform: translateY(-45%) scaleY(0.6);
    box-shadow: inset 0 2px 6px 0 #000;
  }
}

@media (max-width: $mobile-only) {
  .menu {
    .company-name {
      padding-top: 115px;
      font-size: 40px;
      margin-bottom: 50px;
      text-align: center;
    }
    &__list {
      padding-left: 0;
      padding-left: 25px;
      &::after,
      &::before {
        position: absolute;
        content: '';
        height: 1px;
        background: $grey;
      }
      &::after {
        width: calc(50% + 30px);
        right: calc(0px - 30px);
        bottom: -20px;
      }
      &::before {
        width: calc(50% + 30px);
        left: calc(0px - 30px);
        top: -20px;
      }
    }
    &__item__link {
      font-size: 42px;
      line-height: 42px;
    }
  }
}

@media (min-width: $tablet) {
  .menu {
    .company-name {
      font-size: 60px;
    }
    &__item__link {
      font-size: 125px;
      line-height: 100px;
    }
  }
}

@media (min-width: $tablet) and (max-width: $tablet-only) {
  .menu {
    .company-name {
      padding-top: 250px;
      margin-bottom: 110px;
      text-align: left;
      padding-left: 75px;
    }
    &__list {
      padding-left: 75px;
    }
  }
} 

@media (min-width: $desktop) {
  .menu {
    .company-name {
      padding-top: 190px;  
      margin-bottom: 20px;
      width: 50%;
      text-align: right;
    }
    &__list {
      width: 50%;
      right: -50%;
    }
  }
}

.menu__active-js {
  height: 100%;
  overflow: hidden;
}

.menu__active-js + body {
  overflow: hidden;
}
