@mixin textshadow {
  text-shadow: 0 0 5px 5px #000000;
}

@mixin line {
  &::after {
    position: absolute;
    content: '';
    width: 50%;
    height: 1px;
    background: $white;
    bottom: -15px;
    left: 0;
  }
}

@mixin text_index_big {
  @include myriad--black;
  font-size: 40px;
  color: $white;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 105px;
  text-align: left;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    background: $white;
    bottom: -15px;
    left: 0;
  }
  line-height: 36px;
  letter-spacing: -0.03em;
  text-shadow: 0px 2px 4px $cherry;
  @media (min-width: $tablet-width) {
    font-size: 65px;
    margin-bottom: 45px;
    padding-top: 240px;
    text-align: left;
    position: relative;
    line-height: 40px;
    &::after {
      width: 0;
      height: 0;
    }
  }
  @media (min-width: $desktop-width) {
    padding-top: 215px;
  }
}

@mixin text_big_without-line {
  @include myriad--black;
  font-size: 40px;
  color: $white;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 105px;
  text-align: left;
  position: relative;
  line-height: 36px;
  letter-spacing: -0.03em;
}

@mixin text_index_small {
  @include myriad--regular;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  margin: 0 0 12px;
  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 45px;
  }
}

@mixin transition--05_easy_in_out {
  transition: all 0.5s ease-in-out;
}

