.swiper__slide {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  min-height: 423px;
  &__container {
    margin: auto;
    width: 260px;
    position: relative;
    max-height: 426px;
    height: 100%;
  }
}

.swiper__slide1 {
  text-align: center;
  position: relative;
  @include gradient--black_to_gray;
  &__text1 {
    @include myriad--black;
    font-size: 200px;
    color: $white;
    letter-spacing: -0.1em;
    margin: 0;
    padding-top: calc(50vh - 100px);
    display: inline-block;
    margin-right: 20px;
  }
  &__text2 {
    color: $white;
    @include myriad--italic;
    font-size: 16px;
    letter-spacing: -0.08em;
    position: absolute;
    left: calc(50% - 31.8px);
    bottom: 35px;
    margin: 0 auto;
    & span {
      display: block;
    }
  }
  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 25px;
    border-radius: 50px 50px 0 0;
    bottom: 0px;
    left: 50%;
    background: $white;
  }
}

.swiper__slide2 {
  @include gradient--black_to_blue;
  &__text1 {
    @include text_index_big;
  }
  &__text2 {
    @include text_index_small;
    &__vital {
      color: $cherry;
      font-weight: normal;
    }
  }
  &__img {
    position: absolute;
    left: 65px;
    bottom: -20px;
  }
}

.swiper__slide3 {
  @include gradient--black_to_green;
  overflow: hidden;
  &__text1 {
    @include text_index_big;
    &__vital {
      color: $cherry;
    }
  }
  &__text2 {
    @include text_index_small;
  }
  &__img {
    position: absolute;
    bottom: -52px;
    left: 88px;
  }
}

.swiper__slide4 {
  @include gradient--black_to_green;
  overflow: hidden;
  &__text1 {
    @include text_index_big;
    &__vital {
      color: $cherry;
    }
  }
  &__text2 {
    @include text_index_small;
  }
  &__img {
    position: absolute;
    right: -20px;
    bottom: -25px;
  }
}
