.swiper__snap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .swiper__slide,
  .footer {
    scroll-snap-align: end;
  }
}

.swiper__slide {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  min-height: 423px;
  overflow: hidden;
  &__text--vital {
    color: $cherry;
    font-weight: inherit;
  }
}

.swiper__slide1 {
  text-align: center;
  position: relative;
  @include gradient--black_to_gray;
  &__text1 {
    @include myriad--black;
    font-size: 200px;
    color: $white;
    letter-spacing: -0.1em;
    top: calc(50% - 75px);
    text-align: center;
    width: 100%;
    line-height: 150px;
    position: absolute;
    margin: 0;
  }
  &__text2 {
    color: $white;
    @include myriad--italic;
    font-size: 16px;
    letter-spacing: -0.08em;
    position: absolute;
    width: 100%;
    bottom: 35px;
    margin: 0 auto;
    line-height: 14px;
    & span {
      display: block;
    }
  }
  &::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 25px;
    border-radius: 50px 50px 0 0;
    bottom: 0px;
    left: 50%;
    background: $white;
  }
}

.swiper__slide2 {
  @include gradient--black_to_blue;
  &__img {
    position: absolute;
    left: 110px;
    top: 250px;
  }
}

.swiper__slide3 {
  @include gradient--black_to_green;
  &__img {
    position: absolute;
    top: 243px;
    left: 130px;
  }
}

.swiper__slide4 {
  @include gradient--black_to_green;
  &__img {
    position: absolute;
    right: 8px;
    top: 250px;
  }
}

.swiper__slide__text1 {
  @include text_index_big;
}

.swiper__slide__text2 {
  @include text_index_small;
}

@media (min-width: $tablet-width) {
  .swiper__slide1 {
    &__text2 {
      font-size: 27px;
      line-height: 24px;
    }
  }
}

@media (min-width: $tablet-width) {
  .swiper {
    &__slide__text2 {
      width: 50%;
    }
    &__slide2 {
      &__img {
        width: 600px;
        left: 260px;
        top: 452px;
      }
    }
    &__slide3 {
      &__img {
        top: 450px;
        left: 302px;
        width: 500px;
      }
    }
    &__slide4 {
      &__img {
        top: 410px;
        left: 314px;
        width: 600px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .swiper {
    &__slide1__text1 {
      font-size: 250px;
      line-height: 190px;
      top: calc(50% - 85px);
    }
    &__slide__text2 {
      width: 33%;
    }
    &__slide2 {
      &__img {
        width: 700px;
        left: 484px;
        top: 209px;
      }
    }
    &__slide3 {
      &__img {
        top: 212px;
        left: 498px;
        width: 600px;
      }
    }
    &__slide4 {
      &__img {
        top: 210px;
        left: 515px;
        width: 600px;
      }
    }
  }
}
