.team {
  background: #f4f2f0;
  &__slogan {
    @extend %myriad--black;
    text-transform: uppercase;
    color: $cherry;
    line-height: 30px;
  }
  &__name {
    @extend %myriad--black;
    display: block;
    color: $grey;
  }
  &__about {
    @extend %myriad--regular;
    color: $grey;
    display: block;
    text-align: center;
  }
  &__icons {
    display: flex;
    flex-wrap: wrap;
    @extend %transition--05_easy_in_out;
  }
  &__icon {
    cursor: pointer;
    @extend %transition--05_easy_in_out;
    outline: 0;
    width: calc(20% - 0.8px);
    margin-right: 1px;
    & img {
      display: block;
      width: 100%;
    }
    &:nth-child(5n) {
      margin-right: 0;
    }
  }
  &__icon:active,
  &__icon:focus {
    opacity: 0.3;
  }
}

@media (max-width: $mobile-only) {
  .team {
    &__list {
      justify-content: space-around;
    }
    &__item {
      margin-bottom: 6vh;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__slogan {
      margin: 0 0 5vh;
      padding-top: 15vh;
      text-align: center;
      font-size: 40px;
    }
    &__img {
      margin: auto auto 1vh;
      width: 100%;
    }
    &__name {
      font-size: 4vh;
      line-height: 4vh;
      margin-bottom: 1vh;
      text-align: center;
    }
    &__about {
      font-size: 2.5vh;
      line-height: 2vh;
      margin-bottom: 2vh;
    }
    &__icon {
      height: 20vw;
    }
  }
}

@media (min-width: $tablet) {
  .team {
    &__slogan {
      text-align: right;
      padding-right: 12.5vw;
    }
    &__list {
      justify-content: space-between;
      margin: auto;
      display: flex;
      flex-flow: row wrap;
    }
    &__item {
      position: relative;
      margin-bottom: 0;
      &:nth-child(2) {
        margin-top: 18vh;
      }
      &:nth-child(3n) {
        margin-top: -10vh;
        margin-bottom: 4vh;
      }
    }
    &__img {
      width: 100%;
    }
    &__name {

      line-height: 3vh;
      position: absolute;
      left: -5vw;
      top: 0;
      writing-mode: tb-rl;
      transform: rotate(180deg);
    }
    &__icon {
      margin-bottom: 1px;
      height: auto;
    }
    &__icons {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $tablet) and (max-width: $tablet-only) {
  .team {
    &__about {
      font-size: 1.8vh;
      line-height: 2vh;
      margin-bottom: 1vh;
    }
    &__name {
      font-size: 4vh;
      margin-bottom: 0.5vh;
    }
    &__list {
      width: 75%;
    }
    &__item {
      width: 42%;
    }
    &__slogan {
      padding-top: 14vh;
      margin: -2vh 0;
    }
    &__img {
      margin: 0 0 1vh;
      box-shadow: 4px 4px 3px 0 gray;
    }
  }
}

@media (min-width: $desktop) {
  .team {
    &__slogan {
      padding-top: 160px;
      font-size: 50px;
      margin: 0 0 -2vh;
    }
    &__list {
      padding-top: 0;
      width: 70%;
    }
    &__item {
      width: 25%;
      &:nth-child(2) {
        margin-top: 10vh;
      }
      &:nth-child(3n) {
        margin-top: 20vh;
      }
    }
    &__name {
      font-size: 2.5vw;
      margin: 0;
    }
    &__about {
      font-size: 1.5vw;
      line-height: 1.5vw;
      margin-bottom: 16px;
    }
    &__img {
      box-shadow: 8px 8px 6px 0px grey;
      margin: 0 0 2vh;
    }
  }
}
