.work {
  background: $black;
  &__slogan {
    @include myriad--black;
    font-size: 40px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    line-height: 30px;
    padding-top: 115px;
    margin-bottom: 30px;
    & span {
      color: $cherry;
    }
  }
  &__item {
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    display: flex;
    &::after {
      position: absolute;
      @include myriad--black;
      font-size: 32px;
      color: $white;
      bottom: 30px;
      left: 30px;
      text-transform: uppercase;
      letter-spacing: -0.03em;
      line-height: 25px;
      @include transition--05_easy_in_out;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-sizing: border-box;
      pointer-events: 0;
      border: 0 solid $black;
      z-index: 2;
      transition: border-width 0.3s ease;
    }
  }
  &__item--borodinski::after {
    content: "barber shop borodinski";
  }
  &__item--cat-energy::after {
    content: "Cat-energy";
  }
  &__item--device::after {
    content: "Device";
  }
  &__item--cat-energy-logo {
    width: 87px;
    height: 72px;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    background-image: url(../img/cat-en-logo.svg);
  }
  &__item:focus::after,
  &__item:active::after {
    color: $cherry;
  }
  &__item:hover::before,
  &__item:focus::before {
    border-width: 10px;
  }
}

@media (min-width: $tablet-width) {
  .work {
    &__slogan {
      padding-top: 190px;
      font-size: 65px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 40px;
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      width: 768px;
    }
    &__img {
      width: 384px;
      margin: 0;
    }
    &__item--borodinski {
      margin: 0;
    }
    &__item {
      width: auto;
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .work {
    &__slogan {
      margin-bottom: 50px;
      font-size: 90px;
      line-height: 70px;
    }
    &__item {
      width: 25%;
      margin: 0;
    }
    &__list {
      width: 1200px;
    }
    &__item:hover::before,
    &__item:focus::before {
      border-width: 15px;
    }
    &__img {
      width: 300px;
    }
  }
}