$mobile-only: 767px;
$tablet: 768px;
$tablet-only: 999px;
$desktop: 1000px;
$desktop-only: 1999px;
$desktop2k: 2000px;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: $mobile-only) {
  .container {
    min-width: 320px;
    padding: 0 10vw;
  }
}

@media (min-width: $tablet) {
  .container {
    width: 75%;
    margin: 0 auto;
  }
}

.js-overflow-hidden {
  overflow: hidden;
}

@import "other";
@import "buttons-mob"; 
@import "header-mob";
@import "main-mob";
@import "footer-mob"; 

