.swiper__slide__text1, .swiper__slide1__text1, .btn-halfround, .footer__slogan, .footer-nav__item, .menu .company-name, .menu__link, .contact-page__slogan, .contact-page__btn, .work__slogan, .work__item::after, .team__slogan, .team__name {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900; }

.swiper__slide1__text2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: italic;
  font-weight: 400; }

.swiper__slide__text2, .contact-page .input-box, .contact-page .input-box__input, .team__about {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400; }

.swiper__slide__text1 {
  color: #ffffff;
  position: relative; }
  .swiper__slide__text1::after {
    position: absolute;
    content: '';
    height: 1px;
    background: #ffffff;
    left: 0; }
  @media (max-width: 767px) {
    .swiper__slide__text1 {
      font-size: 12.5vw;
      line-height: 12.5vw;
      margin: 0 0 10vw 0;
      padding-top: 16vh;
      text-shadow: 0px 2px 4px #f90d3e;
      letter-spacing: -0.03em; }
      .swiper__slide__text1::after {
        bottom: -6vw;
        width: 50%; } }
  @media (min-width: 768px) {
    .swiper__slide__text1 {
      letter-spacing: -0.5vh; }
      .swiper__slide__text1::after {
        width: 10vw; } }
  @media (min-width: 768px) and (max-width: 999px) {
    .swiper__slide__text1 {
      width: 50vw;
      margin: 0 0 10vh;
      padding-top: 14vh;
      line-height: 12vh;
      font-size: 11vh;
      text-shadow: 0px 0.4vw 0.6vw #f90d3e; }
      .swiper__slide__text1::after {
        bottom: -7vw; } }
  @media (min-width: 1000px) {
    .swiper__slide__text1 {
      width: 20vw;
      padding-top: 22vh;
      margin: 0 0 60px;
      line-height: 90px;
      font-size: 80px;
      text-shadow: 0px 0.2vw 0.3vw #f90d3e; }
      .swiper__slide__text1::after {
        bottom: -30px; } }
  @media (min-width: 2000px) {
    .swiper__slide__text1 {
      font-size: 7vw;
      line-height: 7vw;
      padding-top: 11vw;
      margin: 0 0 6vw 0; }
      .swiper__slide__text1::after {
        bottom: -3vw; } }

.swiper__slide__text2 {
  color: #ffffff; }
  @media (max-width: 767px) {
    .swiper__slide__text2 {
      margin: 0 0 3.75vw;
      font-size: 6.5vw;
      line-height: 10vw;
      width: 70vw; } }
  @media (min-width: 768px) {
    .swiper__slide__text2 {
      width: 40vw; } }
  @media (min-width: 768px) and (max-width: 999px) {
    .swiper__slide__text2 {
      margin: 0 0 7vh;
      line-height: 4vh;
      font-size: 2.5vh; } }
  @media (min-width: 1000px) and (max-width: 1999px) {
    .swiper__slide__text2 {
      margin: 0 0 30px;
      line-height: 32px;
      font-size: 20px;
      width: 35%; } }
  @media (min-width: 2000px) {
    .swiper__slide__text2 {
      font-size: 2vw;
      line-height: 3vw;
      margin: 0 0 3vw 0;
      width: 40%; } }

.main-btn, .main-btn__bar, .btn-halfround span, .btn-halfround::after, .footer-nav__item, .menu, .contact-page__btn, .contact-page .input-box__label-name::after, .contact-page .input-box__content-name, .team__icons, .team__icon {
  transition: all 0.5s ease-in-out; }

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box; }

@media (max-width: 767px) {
  .container {
    min-width: 320px;
    padding: 0 10vw; } }

@media (min-width: 768px) {
  .container {
    width: 75%;
    margin: 0 auto; } }

.js-overflow-hidden {
  overflow: hidden; }

.swiper__snap {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; }
  .swiper__snap .swiper__slide,
  .swiper__snap .footer {
    scroll-snap-align: end; }

.swiper__slide {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }
  .swiper__slide__text--vital {
    color: #f90d3e;
    font-weight: inherit; }

.swiper__slide1 {
  text-align: center;
  position: relative;
  background: #141414; }
  .swiper__slide1__text1 {
    color: #ffffff;
    letter-spacing: -0.08em;
    width: 100%;
    position: absolute;
    margin: 0 0 0 -10px; }
  .swiper__slide1__text2 {
    color: #ffffff;
    letter-spacing: -0.08em;
    position: absolute;
    width: 100%;
    margin: 0 auto; }
    .swiper__slide1__text2 span {
      display: block; }
  .swiper__slide1::after {
    position: absolute;
    content: '';
    width: 0.6vw;
    height: 25px;
    border-radius: 50px 50px 0 0;
    bottom: 0px;
    left: 50%;
    background: #ffffff;
    max-width: 8px; }

.swiper__slide2 {
  background: #051a22; }
  .swiper__slide2__img {
    position: absolute; }

.swiper__slide3 {
  background: #101b19; }
  .swiper__slide3__img {
    position: absolute; }

.swiper__slide4 {
  background: #1b0f1c; }
  .swiper__slide4__img {
    position: absolute; }

@media (max-width: 767px) {
  .swiper__slide1__text1 {
    top: calc(50% - 30vw);
    font-size: 60vw;
    line-height: 60vw; }
  .swiper__slide1__text2 {
    font-size: 5.5vw;
    line-height: 5vw;
    bottom: 30px; }
  .swiper__slide2__img {
    left: -35vw;
    top: 150vw;
    width: 170vw; }
  .swiper__slide3__img {
    left: -34vw;
    top: 111vw;
    width: 160vw; }
  .swiper__slide4__img {
    left: -27vw;
    top: 130vw;
    width: 160vw; } }

@media (min-width: 768px) {
  .swiper__slide1__text1 {
    top: calc(50% - 8vw);
    font-size: 16vw;
    line-height: 16vw; }
  .swiper__slide1__text2 {
    font-size: 27px;
    line-height: 24px;
    bottom: 35px; }
  .swiper__slide2__img {
    top: -5vh;
    left: 60%; }
  .swiper__slide3__img {
    top: -5vh;
    left: 42vw;
    height: 110vh;
    width: auto; }
  .swiper__slide4 .swiper__slide__text1 {
    width: 60vw !important; } }

@media (min-width: 768px) and (max-width: 999px) {
  .swiper__slide2__img {
    width: auto;
    height: 110vh; }
  .swiper__slide4__img {
    top: 52vh;
    left: 25vw;
    width: 60vh;
    transform: rotate(-61deg); } }

@media (min-width: 1000px) {
  .swiper__slide2__img {
    max-width: 60vw;
    height: auto;
    min-height: 110vh;
    width: 80%; }
  .swiper__slide4__img {
    top: 22vh;
    left: 38vw;
    width: auto;
    height: 67vh; } }

@media (min-width: 2000px) {
  .swiper__slide1__text2 {
    font-size: 1.5vw;
    line-height: 1.5vw; }
  .swiper__slide3__img {
    left: 58%; }
  .swiper__slide4__img {
    top: 12vh;
    left: 32vw;
    height: 75vh; } }

.main-btn {
  position: fixed;
  border-radius: 50px;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 4;
  box-sizing: border-box;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */ }
  .main-btn::-moz-focus-inner {
    border: 0; }
  .main-btn::after {
    content: '';
    position: absolute;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.7);
    border-radius: 50px;
    transition: box-shadow 0.1s ease;
    z-index: 2; }
  .main-btn::before {
    content: '';
    position: absolute;
    box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.7);
    border-radius: 50px; }
  .main-btn:active::after {
    box-shadow: 0 0 2px 0px black; }
  .main-btn:active .main-btn__bar {
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.3); }
  .main-btn:hover .main-btn__bar {
    background: #f90d3e; }
  .main-btn__sandwitch {
    cursor: pointer;
    position: absolute;
    z-index: 3; }
  .main-btn__bar {
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: inset 0 0 1px 0px rgba(0, 0, 0, 0.3);
    margin: 0 0 2px 0; }
  .main-btn__bar:last-child {
    margin-bottom: 0px; }
  .change .main-btn__bar1 {
    transform: rotate(-45deg) translate(-2.5vw, 2.5vw);
    box-shadow: none;
    margin: 0; }
  .change .main-btn__bar2 {
    opacity: 0;
    margin: 0; }
  .change .main-btn__bar3 {
    transform: rotate(45deg) translate(-1vw, -1vw);
    box-shadow: none;
    margin: 0; }
  .main-btn__sandwitch--grey .main-btn__bar1,
  .main-btn__sandwitch--grey .main-btn__bar2,
  .main-btn__sandwitch--grey .main-btn__bar3 {
    background-color: #909090; }
  .main-btn--absolute {
    position: absolute; }

@media (max-width: 767px) {
  .main-btn {
    width: 100%;
    height: 20vw;
    border: 6px solid #8b8b8b;
    border-radius: 0; }
    .main-btn::after {
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      border-radius: 0; }
    .main-btn::before {
      left: -6px;
      top: -6px;
      width: calc(100% + 16px);
      height: 20vw;
      border-radius: 0; }
    .main-btn:hover {
      border: 6px solid #f90d3e; }
    .main-btn__sandwitch {
      top: calc(50% - 4vw);
      left: calc(50% - 5vw); }
    .main-btn__bar {
      width: 10vw;
      height: 2.5vw;
      margin: 0 0 0.6vw 0; } }

@media (min-width: 768px) {
  .main-btn {
    left: calc(50% - 37.5px);
    width: 75px;
    height: 75px;
    border: 8px solid #8b8b8b;
    /* Rotate last bar */ }
    .main-btn::after {
      width: 59px;
      height: 59px;
      left: 0;
      bottom: 0; }
    .main-btn::before {
      left: -8px;
      top: -8px;
      height: 75px;
      width: 75px; }
    .main-btn:hover {
      border: 8px solid #f90d3e; }
    .main-btn__sandwitch {
      top: calc(50% - 17px);
      left: calc(50% - 21px); }
    .main-btn__bar {
      width: 42px;
      height: 11px; }
    .change .main-btn__bar1 {
      transform: rotate(-45deg) translate(-9px, 9px); }
    .change .main-btn__bar3 {
      transform: rotate(45deg) translate(-6px, -6px); } }

@media (min-width: 768px) and (max-width: 999px) {
  .main-btn {
    top: 35px; } }

@media (min-width: 1000px) {
  .main-btn {
    top: 50px; } }

@media (min-width: 2000px) {
  .main-btn {
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
    border: 0.5vw solid #909090;
    /* Rotate last bar */ }
    .main-btn::after {
      width: 4vw;
      height: 4vw;
      content: '';
      position: absolute;
      box-shadow: 0 0.2vw 0.3vw 0px rgba(0, 0, 0, 0.7);
      border-radius: 5vw;
      transition: box-shadow 0.1s ease;
      z-index: 2; }
    .main-btn::before {
      content: '';
      position: absolute;
      box-shadow: inset 0 0.2vw 0.3vw 0px rgba(0, 0, 0, 0.7);
      border-radius: 5vw;
      width: 5vw;
      height: 5vw;
      left: -0.5vw;
      top: -0.5vw; }
    .main-btn__sandwitch {
      top: calc(50% - 1.1vw);
      left: calc(50% - 1.1vw); }
    .main-btn__bar {
      width: 2.2vw;
      height: 1.2vh;
      margin: 0 0 0.1vw 0; }
    .change .main-btn__bar1 {
      transform: rotate(-45deg) translate(-0.5vw, 0.5vw); }
    .change .main-btn__bar3 {
      transform: rotate(45deg) translate(-0.3vw, -0.3vw); }
    .main-btn:hover {
      border: 0.5vw solid #f90d3e; } }

.btn-halfround {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #f90d3e;
  width: 50%;
  box-sizing: border-box;
  z-index: 1;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: border 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-halfround span {
    position: relative;
    z-index: 2; }
  .btn-halfround::after {
    content: '';
    position: absolute;
    left: -8px;
    top: 0;
    background: #f90d3e; }
  .btn-halfround:hover:after, .btn-halfround:focus:after {
    transform: translateX(-10%) translateY(-25%) rotate(45deg); }
  .btn-halfround:hover span,
  .btn-halfround:focus span {
    color: #ffffff; }
  .btn-halfround:hover, .btn-halfround:focus {
    border: 0.3vw solid #f90d3e;
    transition: border 0.3s ease; }

@media (max-width: 767px) {
  .btn-halfround {
    font-size: 4vw;
    height: 10vw;
    box-shadow: 0 2px 4px 0 #000000;
    border-radius: 0 50px 50px 0; }
    .btn-halfround::after {
      transform: translateX(-260px) translateY(-40px) rotate(45deg);
      height: 300px;
      width: 300px; } }

@media (min-width: 768px) {
  .btn-halfround {
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4px 8px 0 #000000; } }

@media (min-width: 768px) and (max-width: 999px) {
  .btn-halfround {
    font-size: 35px;
    height: 65px; }
    .btn-halfround::after {
      transform: translateX(-460px) translateY(-80px) rotate(45deg);
      height: 500px;
      width: 500px; } }

@media (min-width: 1000px) and (max-width: 1999px) {
  .btn-halfround {
    font-size: 25px;
    line-height: 25px;
    width: 30%;
    height: 50px; }
    .btn-halfround::after {
      transform: translateX(-880px) translateY(-160px) rotate(45deg);
      height: 1000px;
      width: 1000px; } }

@media (min-width: 2000px) {
  .btn-halfround {
    width: 40%;
    height: 4vw;
    font-size: 2vw;
    border-radius: 0 1.5vw 1.5vw 0; }
    .btn-halfround::after {
      transform: translateX(-47vw) translateY(-10vw) rotate(45deg);
      width: 50vw;
      height: 50vw; } }

.footer {
  position: relative;
  background: #000000; }
  .footer__slogan {
    position: relative;
    letter-spacing: -0.05em;
    text-align: center;
    color: #ffffff; }
    .footer__slogan span {
      color: #f90d3e; }
  .footer-nav {
    display: flex;
    justify-content: space-around; }
    .footer-nav__item {
      text-decoration: none;
      letter-spacing: -0.03em;
      margin-right: 5vw;
      outline: 0; }
    .footer-nav__item[href] {
      opacity: 0.5;
      color: #ffffff; }
    .footer-nav__item:last-child {
      margin-right: 0; }
    .footer-nav__item[href]:hover, .footer-nav__item[href]:focus {
      opacity: 1; }
    .footer-nav__item:not([href]) {
      color: #f90d3e; }

@media (max-width: 999px) {
  .footer__slogan {
    font-size: 8vw;
    line-height: 8vw;
    margin: 0 0 3.25vw;
    padding-top: 8vw; }
  .footer-nav__item {
    font-size: 6vw;
    margin-bottom: 8vw; } }

@media (min-width: 1000px) {
  .footer {
    min-height: 200px;
    height: 10vw; }
    .footer .container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center; }
    .footer__slogan {
      padding: 0;
      margin: 0;
      font-size: 3vw;
      line-height: 4vw; }
    .footer-nav__item {
      margin: 0.5vw 1vw 0 0;
      font-size: 2.5vw; } }

.menu {
  background: #323435;
  width: 100%;
  height: 0%;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  z-index: 3;
  top: 0;
  left: 0; }
  .menu .company-name {
    line-height: 36px;
    color: #f90d3e;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    position: relative;
    margin-top: 0; }
  .menu__list {
    list-style: none;
    position: relative;
    height: auto;
    margin: 0; }
  .menu__link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    margin: 0;
    padding: 0;
    z-index: 1;
    outline: none;
    position: relative; }
    .menu__link:after {
      content: '';
      width: 200vw;
      height: 65%;
      position: absolute;
      top: 50%;
      left: -100vw;
      transform: translateY(-45%) scaleY(0);
      z-index: -1;
      background: #f90d3e;
      transition: all 0.3s ease; }
  .menu__link:focus::after {
    transform: translateY(-45%) scaleY(0.1); }
  .menu__link:hover::after {
    transform: translateY(-45%) scaleY(0.6);
    box-shadow: inset 0 2px 6px 0 #000; }

@media (max-width: 767px) {
  .menu .company-name {
    padding-top: 20vh;
    font-size: 12vw;
    margin-bottom: 12vh;
    text-align: center; }
  .menu__list {
    padding-left: 0;
    padding-left: 25px; }
    .menu__list::after, .menu__list::before {
      position: absolute;
      content: '';
      height: 1px;
      background: #5c5858;
      box-shadow: 0 1px 0 0 #9e9b9b; }
    .menu__list::after {
      width: 50%;
      right: -10vw;
      bottom: -20px; }
    .menu__list::before {
      width: 50%;
      left: -10vw;
      top: -20px; }
  .menu__link {
    font-size: 8vh;
    line-height: 12vh; } }

@media (min-width: 768px) {
  .menu .company-name {
    font-size: 6vh; }
    .menu .company-name::after, .menu .company-name::before {
      position: absolute;
      content: '';
      height: 1px;
      width: 100vw;
      left: -12.5vw; }
    .menu .company-name::after {
      bottom: -6vh;
      background: #5c5858;
      box-shadow: 0 1px 0 0 #9e9b9b; }
  .menu__link {
    font-size: 12.5vh;
    line-height: 10vh; } }

@media (min-width: 768px) and (max-width: 999px) {
  .menu .company-name {
    padding-top: 25vh;
    margin-bottom: 12vh;
    text-align: left;
    padding-left: 0; }
  .menu__list {
    padding-left: 0; } }

@media (min-width: 1000px) {
  .menu .company-name {
    padding-top: 22vh;
    margin-bottom: 14vh;
    text-align: center; }
  .menu__list {
    width: 100%;
    right: 0%;
    padding: 0;
    text-align: center; } }

.menu__active-js {
  height: 100%;
  overflow: hidden; }

.menu__active-js + body {
  overflow: hidden; }

.contact-page {
  background: #f4f3f1;
  padding-bottom: 30px; }
  .contact-page__boy-img {
    display: block;
    color: #000000; }
  .contact-page__slogan {
    color: #616160;
    letter-spacing: -0.03em;
    margin: 2vh 0 2vh; }
  .contact-page__btn {
    width: 50%;
    cursor: pointer; }
  .contact-page__btn:focus, .contact-page__btn:active {
    opacity: 0.5;
    outline: none; }
  .contact-page__btn::-moz-focus-inner {
    border: 0; }
  .contact-page .input-box {
    position: relative;
    width: 100%;
    display: flex;
    margin-bottom: 2vh;
    height: 7vh;
    color: #616160;
    font-size: 3vh;
    letter-spacing: -0.2vh;
    overflow: hidden; }
    .contact-page .input-box__input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      color: inherit;
      background: transparent;
      font-size: 2.5vh;
      padding-top: 3vh;
      border: none; }
      .contact-page .input-box__input:hover + .input-box__label-name .input-box__content-name,
      .contact-page .input-box__input:focus + .input-box__label-name .input-box__content-name,
      .contact-page .input-box__input:valid + .input-box__label-name .input-box__content-name {
        transform: translateY(-4vh);
        color: #f90d3e;
        font-size: 2vh; }
      .contact-page .input-box__input:hover + .input-box__label-name::after,
      .contact-page .input-box__input:focus + .input-box__label-name::after,
      .contact-page .input-box__input:valid + .input-box__label-name::after {
        transform: translateX(0); }
    .contact-page .input-box__label-name {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #616160; }
      .contact-page .input-box__label-name::after {
        position: absolute;
        left: 0;
        bottom: -1px;
        content: '';
        border-bottom: 3px solid #f90d3e;
        width: 100%;
        height: 100%;
        transform: translateX(-100%); }
    .contact-page .input-box__content-name {
      position: absolute;
      bottom: 0;
      left: 0; }
    .contact-page .input-box--textarea {
      height: 20vh; }
      .contact-page .input-box--textarea .input-box__input:hover + .input-box__label-name .input-box__content-name,
      .contact-page .input-box--textarea .input-box__input:focus + .input-box__label-name .input-box__content-name,
      .contact-page .input-box--textarea .input-box__input:valid + .input-box__label-name .input-box__content-name {
        transform: translateY(-18vh);
        color: #f90d3e;
        font-size: 2vh; }

@media (max-width: 767px) {
  .contact-page__boy-img {
    padding-top: 12vh;
    margin: 0 auto 2vh; }
  .contact-page__slogan {
    font-size: 5vh; } }

@media (min-width: 768px) {
  .contact-page .container {
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
    justify-content: space-between; }
  .contact-page__boy-img {
    padding: 0; }
  .contact-page__slogan {
    font-size: 50px; }
  .contact-page .contact-form {
    padding-left: 40px; }
  .contact-page__btn {
    height: 50px;
    width: 75%; } }

@media (min-width: 768px) and (max-width: 999px) {
  .contact-page__boy-img {
    width: 355px; } }

@media (min-width: 1000px) {
  .contact-page .contact-form {
    width: 40%;
    padding-top: 30px; }
  .contact-page__boy-img {
    width: 20%;
    margin: auto; } }

@media (min-width: 2000px) {
  .contact-page__slogan {
    font-size: 5vw; }
  .contact-page input,
  .contact-page textarea {
    font-size: 3.5vh;
    margin-bottom: 2.5vh; }
  .contact-page__btn {
    height: 6vh;
    font-size: 4vh;
    align-items: baseline; } }

.work {
  background: #000000; }
  .work__slogan {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.05em; }
    .work__slogan span {
      color: #f90d3e; }
  .work__item {
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none; }
    .work__item::after {
      position: absolute;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: -0.03em;
      transition: color 0.3s ease; }
    .work__item::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      box-sizing: border-box;
      border: 0 solid #000000;
      z-index: 2;
      transition: border-width 0.3s ease-in-out; }
  .work__item--borodinski::after {
    content: 'barber shop borodinski'; }
  .work__item--cat-energy::after {
    content: 'Cat-energy'; }
  .work__item--device::after {
    content: 'Device'; }
  .work__item--cat-energy-logo {
    width: 87px;
    height: 72px;
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    background-image: url(../img/cat-en-logo.svg); }
  .work__item:focus::after, .work__item:active::after, .work__item:hover::after {
    color: #f90d3e; }

@media (max-width: 767px) {
  .work__slogan {
    font-size: 4vh;
    line-height: 3vh;
    padding-top: 14vh;
    margin: 0 0 4vh 0; }
  .work__item {
    width: 100vw !important;
    margin: 0 auto; }
    .work__item::after {
      font-size: 32px;
      bottom: 30px;
      left: 30px;
      line-height: 25px;
      width: 50%; }
  .work__img {
    width: 100vw; } }

@media (min-width: 768px) {
  .work__slogan {
    text-align: center; }
  .work__list {
    display: flex;
    flex-wrap: wrap;
    margin: auto; } }

@media (min-width: 768px) and (max-width: 999px) {
  .work__slogan {
    margin-bottom: 4vh;
    font-size: 6.5vh;
    line-height: 5vh;
    padding-top: 140px; }
  .work__item {
    width: auto;
    margin: auto; }
    .work__item::after {
      font-size: 3.2vh;
      bottom: 3vh;
      left: 3vh;
      line-height: 2.5vh; }
  .work__list {
    width: 100vw; }
  .work__img {
    width: 50vw; } }

@media (max-width: 999px) {
  .work__item:hover::before, .work__item:focus::before {
    border-width: 2vh; } }

@media (min-width: 1000px) {
  .work__slogan {
    margin-bottom: 3vh;
    font-size: 3vw;
    line-height: 3vw;
    padding-top: 180px; }
  .work__item {
    width: 20vw; }
    .work__item::after {
      font-size: 2.5vw;
      bottom: 3vh;
      left: 3vh;
      line-height: 2vw; }
  .work__item:hover::before, .work__item:focus::before {
    border-width: 15px; }
  .work__img {
    width: 25vw; } }

@media (min-width: 2000px) {
  .work__slogan {
    padding-top: 16vh; }
  .work__item:hover::before, .work__item:focus::before {
    border-width: 1vw; } }

.team {
  background: #f4f2f0; }
  .team__slogan {
    text-transform: uppercase;
    color: #f90d3e;
    line-height: 30px; }
  .team__name {
    display: block;
    color: #909090; }
  .team__about {
    color: #909090;
    display: block;
    text-align: center; }
  .team__icons {
    display: flex;
    flex-wrap: wrap; }
  .team__icon {
    cursor: pointer;
    outline: 0;
    width: calc(20% - 0.8px);
    margin-right: 1px; }
    .team__icon img {
      display: block;
      width: 100%; }
    .team__icon:nth-child(5n) {
      margin-right: 0; }
  .team__icon:active, .team__icon:focus {
    opacity: 0.3; }

@media (max-width: 767px) {
  .team__list {
    justify-content: space-around; }
  .team__item {
    margin-bottom: 6vh; }
    .team__item:last-of-type {
      margin-bottom: 0; }
  .team__slogan {
    margin: 0 0 5vh;
    padding-top: 15vh;
    text-align: center;
    font-size: 40px; }
  .team__img {
    margin: auto auto 1vh;
    width: 100%; }
  .team__name {
    font-size: 4vh;
    line-height: 4vh;
    margin-bottom: 1vh;
    text-align: center; }
  .team__about {
    font-size: 2.5vh;
    line-height: 2vh;
    margin-bottom: 2vh; }
  .team__icon {
    height: 20vw; } }

@media (min-width: 768px) {
  .team__slogan {
    text-align: right;
    padding-right: 12.5vw; }
  .team__list {
    justify-content: space-between;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  .team__item {
    position: relative;
    margin-bottom: 0; }
    .team__item:nth-child(2) {
      margin-top: 18vh; }
    .team__item:nth-child(3n) {
      margin-top: -10vh;
      margin-bottom: 4vh; }
  .team__img {
    width: 100%; }
  .team__name {
    line-height: 3vh;
    position: absolute;
    left: -5vw;
    top: 0;
    writing-mode: tb-rl;
    transform: rotate(180deg); }
  .team__icon {
    margin-bottom: 1px;
    height: auto; }
  .team__icons {
    margin-bottom: 0; } }

@media (min-width: 768px) and (max-width: 999px) {
  .team__about {
    font-size: 1.8vh;
    line-height: 2vh;
    margin-bottom: 1vh; }
  .team__name {
    font-size: 4vh;
    margin-bottom: 0.5vh; }
  .team__list {
    width: 75%; }
  .team__item {
    width: 42%; }
  .team__slogan {
    padding-top: 14vh;
    margin: -2vh 0; }
  .team__img {
    margin: 0 0 1vh;
    box-shadow: 5px 5px 5px 0 gray; } }

@media (min-width: 1000px) {
  .team__slogan {
    padding-top: 160px;
    font-size: 50px;
    margin: 0 0 -2vh; }
  .team__list {
    padding-top: 0;
    width: 70%; }
  .team__item {
    width: 25%; }
    .team__item:nth-child(2) {
      margin-top: 10vh; }
    .team__item:nth-child(3n) {
      margin-top: 20vh; }
  .team__name {
    font-size: 2.5vw;
    margin: 0; }
  .team__about {
    font-size: 1.5vw;
    line-height: 1.5vw;
    margin-bottom: 16px; }
  .team__img {
    box-shadow: 8px 8px 8px 0 gray;
    margin: 0 0 2vh; } }

body {
  margin: 0;
  padding: 0;
  min-width: 320px; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }
