.container {
  margin: auto;
  width: 260px;
  position: relative;
  height: 100%; }

.container--mobile {
  width: 260px;
  margin: auto;
  text-align: center; }

.swiper__slide {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  min-height: 423px;
  overflow: hidden; }
  .swiper__slide__text--vital {
    color: #f90d3e;
    font-weight: inherit; }

.swiper__slide1 {
  text-align: center;
  position: relative;
  background: #000000;
  background: linear-gradient(145deg, black 0%, #434343 100%); }
  .swiper__slide1__text1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    color: #ffffff;
    letter-spacing: -0.1em;
    margin: 0;
    padding-top: calc(213px - 100px);
    display: inline-block;
    margin-right: 20px; }
  .swiper__slide1__text2 {
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    width: 19%;
    letter-spacing: -0.08em;
    margin: auto auto 35px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 9.5%); }
  .swiper__slide1::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 25px;
    border-radius: 50px 50px 0 0;
    bottom: 0px;
    left: 50%;
    background: #ffffff; }

.swiper__slide2 {
  background: #053243;
  background: linear-gradient(325deg, #060606, #044f6b); }
  .swiper__slide2__img {
    position: absolute;
    left: 84px;
    bottom: 12px; }

.swiper__slide3 {
  background: #0c1916;
  background: linear-gradient(325deg, #1f4037, #000000); }
  .swiper__slide3__img {
    position: absolute;
    bottom: -52px;
    left: 88px; }

.swiper__slide4 {
  background: #0c1916;
  background: linear-gradient(325deg, #1f4037, #000000); }
  .swiper__slide4__img {
    position: absolute;
    right: -20px;
    bottom: -25px; }

.swiper__slide__text1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 105px;
  text-align: left;
  position: relative;
  line-height: 36px;
  letter-spacing: -0.03em; }
  .swiper__slide__text1::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    background: #ffffff;
    bottom: -15px;
    left: 0; }

.swiper__slide__text2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0 0 12px; }

.main-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  left: calc(50% - 25px);
  border-radius: 50px;
  top: 35px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 10;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */ }
  .main-btn:active .main-btn::after {
    background-color: #f90d3e;
    box-shadow: 0 9px 0 0 #f90d3e, 0 18px 0 0 #f90d3e; }
  .main-btn__circle {
    position: absolute;
    left: 0;
    top: 0; }
  .main-btn__sandwitch {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 12.5px);
    left: calc(50% - 14px); }
    .main-btn__sandwitch__bar1, .main-btn__sandwitch__bar2, .main-btn__sandwitch__bar3 {
      width: 28px;
      height: 7px;
      background-color: #ffffff;
      margin: 0 0 2px 0;
      transition: 0.4s;
      border-radius: 50px; }
    .main-btn__sandwitch__bar3 {
      margin-bottom: 0px; }
  .main-btn::-moz-focus-inner {
    border: none; }
  .change .main-btn__sandwitch__bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px); }
  .change .main-btn__sandwitch__bar2 {
    opacity: 0; }
  .change .main-btn__sandwitch__bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-6px, -6px); }
  .main-btn--contact-page .main-btn__sandwitch__bar1,
  .main-btn--contact-page .main-btn__sandwitch__bar2,
  .main-btn--contact-page .main-btn__sandwitch__bar3 {
    background-color: #909090; }

.btn_halfround {
  background-color: transparent;
  border-radius: 0 50px 50px 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  color: #f90d3e;
  font-size: 10px;
  padding: 0;
  width: auto;
  height: 30px;
  width: 130px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  z-index: 1;
  display: block;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 13px; }
  .btn_halfround span {
    position: relative;
    z-index: 2;
    transition: all 0.5s ease-in-out; }
  .btn_halfround::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    height: 490%;
    width: 140%;
    background: #f90d3e;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg); }
  .btn_halfround:hover:after, .btn_halfround:focus:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg); }
  .btn_halfround:hover span,
  .btn_halfround:focus span {
    color: #ffffff; }
  .btn_halfround:hover, .btn_halfround:focus {
    border: 1px solid #f90d3e; }

.footer {
  width: 100%;
  position: relative;
  background: #000000; }
  .footer__slogan {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 105px;
    text-align: left;
    position: relative;
    line-height: 36px;
    letter-spacing: -0.03em;
    font-size: 28px;
    letter-spacing: -0.05em;
    color: #ffffff;
    margin: 0 0 20px;
    padding-top: 50px;
    text-align: center; }
    .footer__slogan span {
      color: #f90d3e; }
  .footer__nav {
    display: flex;
    justify-content: space-around; }
    .footer__nav__item {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 900;
      color: #ffffff;
      opacity: 0.5;
      font-size: 20px;
      text-decoration: none;
      margin-bottom: 50px;
      letter-spacing: -0.03em;
      margin-right: 5px; }
    .footer__nav__item:last-child {
      margin-right: 0; }

.menu {
  background: #000000;
  background: linear-gradient(145deg, #232526, #414345);
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; }
  .menu .company-name {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 105px;
    text-align: left;
    position: relative;
    line-height: 36px;
    letter-spacing: -0.03em;
    font-size: 42px;
    color: #f90d3e;
    padding-top: 115px;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -0.05em; }
  .menu__list {
    list-style: none;
    position: relative;
    padding-left: 21px; }
    .menu__list::after, .menu__list::before {
      position: absolute;
      content: "";
      width: calc(50% + 30px);
      height: 1px;
      background: #ffffff; }
    .menu__list::after {
      bottom: -20px;
      right: -30px; }
    .menu__list::before {
      top: -20px;
      left: -30px; }
    .menu__list a {
      color: #ffffff;
      text-decoration: none;
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      color: #ffffff;
      margin: 0;
      margin-bottom: 30px;
      padding-top: 105px;
      text-align: left;
      position: relative;
      line-height: 36px;
      letter-spacing: -0.03em;
      font-size: 42px;
      text-transform: uppercase;
      line-height: 42px;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0; }

.contact-page {
  background: #ece9e6;
  background: linear-gradient(145deg, #ece9e6, #ffffff); }
  .contact-page__boy-img {
    padding-top: 100px;
    margin: 0 auto 20px;
    display: block;
    color: black; }
  .contact-page__slogan {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #616160;
    font-size: 40px;
    letter-spacing: -0.03em;
    margin: 20px 0 50px; }
  .contact-page input {
    width: 100%;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #616160;
    border: none;
    background: transparent; }
    .contact-page input::-webkit-input-placeholder {
      /* WebKit browsers */
      color: #999896; }
    .contact-page input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #999896; }
    .contact-page input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #999896; }
    .contact-page input:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      color: #999896; }
  .contact-page span {
    width: 100%;
    height: 1px;
    background: #c9c7c6;
    display: block;
    margin-bottom: 50px; }
  .contact-page span:last-of-type {
    margin-bottom: 30px; }
  .contact-page__btn {
    width: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    background: #f90d3e;
    border: none;
    height: 40px;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
    margin-bottom: 30px; }
  .contact-page__btn:focus, .contact-page__btn:active {
    opacity: 0.5;
    outline: none; }
  .contact-page__btn::-moz-focus-inner {
    border: 0; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }
